@import "~bulma/sass/utilities/initial-variables.sass";

$primary: $blue !default;
$skeleton-grey: lighten($grey-lighter, 10%);
$skeleton-primary: lighten($primary, 30%);

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/components/media.sass";

@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/box.sass";

@keyframes skeleton {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

html {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

body {
  font-family: Open Sans, Arial;
  color: #555;
}

.content h5:before {
  content: '';
  background: red;
}

.has-text-underlined {
  text-decoration: underline;
}

.pagination {
  padding-top: 20px;

  & .pagination-indicator {
    order: 2;
  }

  & .pagination-disabled {
    pointer-events: none;
    outline: none;
    background-color: $pagination-disabled-background-color;
    border-color: $pagination-disabled-border-color;
    box-shadow: none;
    color: $pagination-disabled-color;
    opacity: 0.5;
  }
}

.media {
  min-height: 55px;
}

.loading {
  & .content h5:before, & .meta:before, & .media-left:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    float: left;
    animation: skeleton 300ms;
  }

  & .media-left:before {
    background-color: $skeleton-primary;
  }

  & .content h5:before, & .meta:before {
    background-color: $skeleton-grey;
  }
}

.loaded {
  animation: skeleton 400ms;
}

.content h5 {
  position: relative;
  min-width: 20%;
  min-height: 24px;
  display: block;
}

.time {
  width: 150px;
  position: relative;
  min-height: 24px;
  text-align: right;
}

.meta {
  width: 100%;
  position: relative;
  min-height: 18px;
}

.points {
  position: relative;
}

.media-left {
  width: 48px;
  min-height: 33px;
  text-align: right;
  position: relative;
}